.transfer-history {
  margin-top: 2%;
  background-color: #fff;
  border-radius: 8px; /* Responsywne zaokrąglenie */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90%;
  padding: 10px;
}

.transfer-history h2 {
  margin-top: 0;
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}

.transfer-history-table {
  overflow-y: auto; /* Dodaj pionowy pasek przewijania */
  max-height: 85%; /* Ustaw maksymalną wysokość */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fbfbfb;
}

table th,
table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e6e0e0;
}

thead {
  position: sticky;
  top: 0; 
  z-index: 1;
}