.transfer-history {
  margin-top: 2%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90%;
  padding: 10px;
}

.transfer-history h2 {
  margin-top: 0;
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}

.transfer-history-table {
  overflow-y: auto;
  max-height: 85%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fbfbfb;
}

table th,
table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e6e0e0;
}

thead {
  position: sticky;
  top: 0; 
  z-index: 1;
}

.filter {
  margin: 5px 0;
  display: flex; 
  align-items: center; 
}

.filter,
.filter input[type="date"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filter input[type="text"],
.filter input[type="date"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.filter input[type="text"]:focus,
.filter input[type="date"]:focus {
  border-color: #007bff; 
}


input[type="date"] {
  background-color: #fbfbfb; 
  color: #333;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: #007bff;
  border-radius: 4px; 
  color: white; 
}

input[type="date"]::-moz-calendar-picker-indicator {
  background: #007bff;
  border-radius: 4px;
  color: white;
}
