.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    padding: 1%; /* Responsywne marginesy */
    border-radius: 8px; /* Responsywne zaokrąglenie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90%;
  }
  
  .amount-inputs {
    display: flex;
    gap: 10px;
  }
  
  .amount-inputs div {
    flex: 1;
    
  }
  
.container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.container button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}
