.transfer-form {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 8px; /* Responsywne zaokrąglenie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90%;
    padding: 10px;
  }
  .transfer-form h2 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .amount-inputs {
    display: flex;
    gap: 10px;
  }
  
  .amount-inputs div {
    flex: 1;
    
  }
  
.transfer-form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.transfer-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.transfer-form button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.transfer-form button:hover {
    background-color: #0056b3;
}
