<div class="content">
  <div class="section">
    <h2>Informacje o rachunku:</h2>
    <ul>
      <li>Numer rachunku: {{ accountInfo.accountNumer }} </li>
      <li>Saldo: {{ accountInfo.accountBalance }} PLN</li>
    </ul>
    <p></p>
  </div>
  <div class="section">
    <h2>Lokaty:</h2>
      <thead>
        <tr>
          <th>Data</th>
          <th>Typ</th>
          <th>Kwota</th>
          <th>Oprocentowanie</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of investments">
          <td>{{ investment.startDate }}</td>
          <td>{{ investment.type }}</td>
          <td>{{ investment.amount }}</td>
          <td>{{ investment.interestRate }}</td>
          <td>{{ investment.status }}</td>
        </tr>
      </tbody>
  </div>
  <div class="section">
    <h2>Pożyczki:</h2>
    <p>{{ accountInfo.loan }} PLN</p>
    
  </div>
</div>
