<div class="container">
    <div class="background-image">
      <img src="assets/images/bank-background.jpg" alt="background" />
    </div>
    <div class="form-security-container">
      <div class="form-container">
        <h1>Klaudek's Bank</h1>
        <h2>Logowanie</h2>
          <label>Numer Klienta:</label><br/>
          <input type="text" id="idAccount" name="idAccount" [(ngModel)]="idAccount" required /><br/>
          <br /><label>Hasło:</label><br/>
          <input type="password" id="password" name="password" [(ngModel)]="password" required /> <br />
          <button type="submit" (click)="handleLoginSubmit()">Zaloguj się</button><br/><br/>
        Nie masz jeszcze konta?<br/><br/>
        <a routerLink="/register">
          <button type="button">Rejestracja</button>
        </a>
      </div>
      <div class="security-container">
        <h3> <font color="ff0000">Bezpieczeństwo:</font> </h3>
        <ul>
          <li>Nie wchodź na stronę logowania do Systemu korzystając z odnośników otrzymanych pocztą e-mail lub znajdujących się na stronach nie należących do Banku.</li>
          <li>Nie odpowiadaj na żadne e-maile dotyczące weryfikacji Twoich danych (np. identyfikator, hasło) lub innych ważnych informacji - Bank nigdy nie prosi o podanie danych poufnych pocztą elektroniczną.</li>
        </ul>
      </div>
    </div>
    <div class="ads-container">
      <h1>ADS</h1>
    </div>
    <div class="footer">
      Autor: Klaudek123
    </div>
  </div>
  