body {
    height: 100%; 
    position: relative; 
}

.container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 104vh;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85);
}

.form-security-container {
    display: flex;
    height: 35%;
    width: 100%; 
    padding: 0 2%; 
    margin-bottom: 5%;
    box-sizing: border-box; 
}

.form-container, .security-container, .ads-container {
    background-color: rgb(214, 255, 255);
    border-radius: 10px;
    padding: 1%; 
}

.form-container {
    width: 30%;
    margin-right: 4%;
}

.security-container {
    width: 65%; 
    font-size: 11px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
}

.form-container input {
    margin-bottom: 10px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box; 
}

.ads-container {
    text-align: center;
    height: 6%;
    width: 96%;
    margin: 2% 2% 5%;
}

button {
    background-color: #4c65af; 
    border: none;
    color: white; 
    padding: 7px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

button:hover {
    background-color: #4548a0; 
}

.footer {
    margin-top: auto;
    text-align: right;
    height: 10%;
    width: 100%;
    font-size: 11px;
    font-family: Calibri, serif;
    color: white;
}
