<!-- register-page.component.html -->
<div class="register-container">
    <div class="background-image">
        <img src="assets/images/bank-background.jpg" alt="background" />
    </div>
    <div class="header-container">
        <div class="header-left">
            <p>Klaudek's Bank </p>
        </div>
        <div class="header-right">
            <p>Data</p>
        </div>
    </div>

    <div class="register-form-container">
                <h1>Załóż nowe konto</h1>
                <h3>Wypełnij poniższe pola aby założyć nowe konto</h3>

                <label>Imię:</label>
                <br />
                <input type="text" [(ngModel)]="firstname" name="firstname" required />
                <br /> <br />

                <label>Nazwisko:</label>
                <br />
                <input type="text" [(ngModel)]="lastname" name="lastname" required />
                <br /> <br />

                <label>Pesel:</label>
                <br/>
                <input type="text" [(ngModel)]="personalId" name="pesel" required>
                <br /> <br />

                <label>Data urodzenia:</label>
                <br />
                <input type="date" [(ngModel)]="dateOfBirth" name="dateOfBirth" required />
                <br /> <br />

                <label>Email:</label>
                <br />
                <input type="email" [(ngModel)]="email" name="email" required />
                <br /> <br />

                <label>Adres:</label>
                <br />
                <input type="text" [(ngModel)]="address" name="address" required />
                <br /> <br />

                <p>Hasło:</p>
                <input type="password" [(ngModel)]="password" name="password" required />
                <br />
                <p>Powtórz hasło:</p>
                <input type="password" [(ngModel)]="passwordCheck" name="passwordCheck" required />
                <br /> <br />

                <h3>Informacje prawne</h3>
                <input type="checkbox" [(ngModel)]="acceptTerms" name="acceptTerms" required />
                Akceptuję regulamin
                <br /> <br />

                <button type="submit" (click)="handleFormSubmit()">Załóż konto</button>

            <h6 style="text-align: right;">Author: Klaudek123</h6>
    </div>
</div>
